html {
  overflow-x: hidden;
}
body {
  font-family: 'Ubuntu', sans-serif;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.img-col {
  position: relative;
  min-height: 1px;
  /*padding-right: 15px;*/
  padding-left: 15px;
  /*margin-left: 20px;*/
  float: left;
}

@media (min-width: 992px) {
  .img-col {
    float: left;
  }
}

.media{

  background-color: rgba(225,225,225,1);

}

.rowContained{
  padding-left:45px; 
  height:200px;
}

.images {
  margin-left: -10px;
}

#actionButtons {
  margin-bottom: 10px;
}

#eventMenu {
  height: 0px;
  background-color: grey;
  display: none;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid grey;
  border-radius: 4px;
}

#enterName, #enterDesc {
  width:50%;
  margin: 0 auto;
  margin-top: 10px;
}

#submitBtn {
  margin-top: 10px;
}
#hideEvent {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.choose_file{
    position:relative;    
    border-radius:8px;
    border:#ebebeb solid 1px;
    width:150px; 
    padding: 4px 6px 4px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin: 0 auto;
    margin-top: 10px;
    background:white;
}
.choose_file input[type="file"]{
    position:absolute;
    top:0; left:0;
    opacity:0; 
}